/*root pour definir les variables et qu'elles soient accessible partout*/
:root{
    --text-color: black;
    --background-color : goldenrod;
    --background-line-color: cornflowerblue;
    --background-card-color: deepskyblue;
    --background-description-color: lightblue;
    --background-diviser-color: black;
    --background-footer-color: grey;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-color: var(--background-color);
    transition: 0.5s;
}

a:hover{
    color: gold;
    text-shadow: 1px 1px black;
}
 /*séparation du header*/
.presentation-header{
    display: flex;
    height: 50px;
    background-color: var(--background-line-color);
    border: 2px solid rgb(61, 108, 194);
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.logo{
    width: calc(100% /3);
}

.logo-img{
    border-radius: 5px;
}

.nom{
    color: var(--text-color);
    width: calc(100% /3);
    text-align: center;
    align-content: center;
    transition: 0.5s;
}

.recherche{
    display: flex;
    justify-content: space-around;
    width: calc(100% /3);
    text-align: end;
    align-content: center;
}

.darkMode{
    text-align: center;
    cursor: pointer;
}

/*Menu Burger*/
.menu{
    width: 10%;
    position: fixed;
    transform: translateY(-100%);
    transition: 0.4s;
    top: -1px;
    right: 1%;
    background: var(--background-line-color);
    color: white;
    list-style: none;
    padding-top: 50px;
    border: 2px, solid, var(--background-card-color);
    border-radius: 5px;
    transition: 0.5s;
}

.hamburger {
    position: fixed; /*permet de garder le menu meme si on descend et de fermer le menu*/
    right: 1%;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.menuItem {
    place-content: center;
    padding: 5%;
    width: 100%;
    height: 50px;
}

.showMenu {
    transform: translateY(0);
}

.menuIcon {
    display: block;
}

.closeIcon {
    display: none;
}

/*Répartition de l'espace pour les cartes et le Pitch*/
.presentation-carte{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*organisation de la carte*/
.carte{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: var(--background-card-color);
    transition: 0.5s;
}
/*centre l'image*/
.image{
    display: flex;
    margin: auto;
    border-radius: 5px;
}
/*centre le texte*/
.texte_descriptif{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    background-color: var(--background-description-color);
    transition: 0.5s;
}

.diviser-scroll{
    padding: 10px;
    text-align: center;
    background-color: var(--background-diviser-color);
    color: gold;
    transition: 0.5s;
}

/*parametre du scroll horizontal*/
.horizontal-scroll{
    display: flex;
    flex-direction: row;
    max-height: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    background-color: var(--background-color);
    transition: 0.5s;
}

.horizontal-scroll .carte{
    min-width: 250px;
    height: 500px;
}

/*organisation des autres pages*/
.presentation-page{
    display: flex;
    justify-content: space-around;
    text-align: center;
    place-items: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.texte_presentation{
    color: var(--text-color);
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 0.5s;
}

.check{
    margin: 5%;
}

.Pitch-Fiche{
    margin-top: 4%;
    margin-bottom: 2%;
}

.texte_fiche{
    padding: 5%;
}
/*organisation de la page de connection*/
.connexion{
    color: var(--text-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.connect{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    size: 200px;
    padding: 40px;
    width: 100%;
}

/*organisation du footer*/
.presentation-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-footer-color);
    transition: 0.5s;
}

.contacter{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reseaux{
    margin: auto;
}

/*forcer la mise en colonne des éléments*/
.column{
    display: flex;
    flex-direction: column;
}

.darkModeText {
    color: white;
}

.darkModeBackground {
    background-color: black;
}